.contact-link {
  color: var(--subtext-color);
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .footer & {
    padding: 0;
    color: var(--footer-link-clr);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover,
  &:focus {
    color: var(--focus-color);
  }

  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}
