.form__icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .form__input:focus + & {
    fill: var(--focus-color);
  }
}

.icon-agreement {
  position: absolute;
  left: 0;
  @media screen and (min-width: 1200px) {
    left: 12px;
  }
}

.icon-checkbox {
  display: inline-block;
  position: absolute;
  left: 0;
  width: 16px;
  height: 15px;
  border: 2px solid var(--text-color);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1200px) {
    left: 12px;
  }

  .agreement__input:checked ~ & {
    background-color: var(--focus-color);
    border-color: var(--focus-color);
  }
}

.icon-check {
  opacity: 0;
  background-origin: border-box;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .agreement__input:checked ~ .icon-agreement & {
    opacity: 1;
    fill: var(--maintext-color);
  }
}

.benefits-icon {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: var(--portfolio-btnsbcg);
  margin-bottom: 30px;
}
