.logo {
  font-family: var(--logo-font), sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--focus-color);

  .header & {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header &__second-part {
    color: var(--logo-color);
  }

  .footer &__second-part {
    color: var(--maintext-color);
  }

  .footer & {
    display: inline-block;
    margin-bottom: 20px;
  }
}
