body {
  min-width: 320px;
  font-family: var(--main-font), sans-serif;
  font-size: 14px;
  line-height: 1.14;
  color: var(--text-color);
  background-color: var(--mainbcg-color);
  letter-spacing: 0.03em;
}
