.agreement {
  display: flex;
  align-items: center;
  justify-content: center;

  &__text {
    display: inline-block;
    margin-left: 23px;
    font-size: 12px;
    color: var(--subtext-color);

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.71;
    }
  }

  &__link {
    text-decoration-line: underline;
    color: var(--focus-color);
  }
}
