.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }

  &__item {
    margin-right: 8px;
  }
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);

  &__wrapper {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: var(--potfolio-sectbrd);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--potfolio-sectbrd);
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: var(--potfolio-sectbrd);
    padding: 20px 24px;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-color);
    margin-bottom: 4px;
  }

  &__description {
    font-size: 16px;
    line-height: 1.88;
    color: var(--subtext-color);
  }
}

.portfolio-list__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.animation-box {
  position: relative;
  overflow: hidden;
}
