.team {
  background-color: var(--portfolio-btnsbcg);

  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
  }

  &__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  &__position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--subtext-color);
  }
}

.team__card {
  background-color: var(--mainbcg-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }

  & .social-list {
    margin-top: 16px;
    margin-bottom: 24px;

    @media screen and (min-width: 1200px) {
      margin-top: 16px;
      margin-bottom: 32px;
    }
  }
}
